{% include base_path %}
{% assign current_lang = page.lang | default: "en" %}
{% assign talk_type = post.type %}
{% if current_lang == "pt" and post.type %}
  {% assign talk_type_key = post.type | downcase %}
  {% if talk_type_key contains "research talk" %}
    {% assign talk_type = "Palestra de pesquisa" %}
  {% elsif talk_type_key contains "invited" %}
    {% assign talk_type = "Palestra convidada" %}
  {% elsif talk_type_key contains "course" %}
    {% assign talk_type = "Curso" %}
  {% elsif talk_type_key contains "conference" %}
    {% assign talk_type = "Conferência" %}
  {% endif %}
{% endif %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item talk-list__item">
  <article class="archive__item talk-card" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <div class="talk-card__date">
      {% if post.date %}
        <time datetime="{{ post.date | date_to_xmlschema }}">
          <span>{{ post.date | date: '%b' }}</span>
          <strong>{{ post.date | date: '%d' }}</strong>
          <em>{{ post.date | date: '%Y' }}</em>
        </time>
      {% endif %}
    </div>
    <div class="talk-card__body">
      <div class="talk-card__meta">
        {% if post.type %}<span class="talk-card__type">{{ talk_type }}</span>{% endif %}
        {% if post.location %}<span>{{ post.location }}</span>{% endif %}
      </div>
      <h2 class="archive__item-title talk-card__title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a class="talk-card__permalink" href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% if post.venue %}<p class="talk-card__venue">{{ post.venue }}</p>{% endif %}
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.excerpt %}<div class="talk-card__excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>{% endif %}
    </div>
  </article>
</div>
