{% assign news_items = site.news | sort: "date" | reverse %}
{% assign rendered_count = 0 %}
{% assign current_year = "" %}
{% assign current_lang = page.lang | default: "en" %}
{% assign initial_count = include.initial | default: nil %}
{% if initial_count %}
  {% assign initial_count = initial_count | plus: 0 %}
{% endif %}
{% assign reveal_count = include.reveal | default: 18 | plus: 0 %}
{% if current_lang == "pt" %}
  {% assign read_more_news_label = "Ler mais notícias" %}
  {% assign default_news_link_label = "Ler mais" %}
{% else %}
  {% assign read_more_news_label = "Read more news" %}
  {% assign default_news_link_label = "Read more" %}
{% endif %}

<div class="news-timeline">
  {% for item in news_items %}
    {% if include.limit and rendered_count >= include.limit %}
      {% break %}
    {% endif %}

    {% assign item_hidden = false %}
    {% if initial_count and rendered_count >= initial_count %}
      {% assign item_hidden = true %}
    {% endif %}

    {% assign item_year = item.date | date: "%Y" %}
    {% if item_year != current_year %}
      {% assign current_year = item_year %}
      <h3 class="news-year{% if item_hidden %} is-hidden{% endif %}">{{ current_year }}</h3>
    {% endif %}

    {% assign type_class = item.type | default: "Update" | downcase | replace: " ", "-" %}
    {% assign display_type = item.type %}
    {% if current_lang == "pt" %}
      {% case type_class %}
        {% when "paper" %}
          {% assign display_type = "Artigo" %}
        {% when "conference" %}
          {% assign display_type = "Conferência" %}
        {% when "talk" %}
          {% assign display_type = "Palestra" %}
        {% when "course" %}
          {% assign display_type = "Curso" %}
        {% when "position" %}
          {% assign display_type = "Cargo" %}
        {% when "award" %}
          {% assign display_type = "Prêmio" %}
        {% else %}
          {% assign display_type = item.type | default: "Notícia" %}
      {% endcase %}
    {% endif %}
    {% capture source_text %}{{ item.title }} {{ item.content | strip_html }} {{ item.link }}{% endcapture %}
    {% assign source_text = source_text | downcase %}
    {% assign source_label = item.type | default: "N" | slice: 0, 1 %}
    {% assign source_name = item.type | default: "News" %}
    {% assign source_class = "generic" %}
    {% assign source_logo = "" %}

    {% if source_text contains "water resources research" or source_text contains "2025wr" or source_text contains "2023wr" %}
      {% assign source_label = "WRR" %}
      {% assign source_name = "Water Resources Research" %}
      {% assign source_class = "wrr" %}
      {% assign source_logo = "/assets/img/news-logos/agu.svg" | relative_url %}
    {% elsif source_text contains "water resources management" %}
      {% assign source_label = "WRM" %}
      {% assign source_name = "Water Resources Management" %}
      {% assign source_class = "wrm" %}
      {% assign source_logo = "/assets/img/news-logos/water-resources-management.webp" | relative_url %}
    {% elsif source_text contains "journal of hydrologic engineering" or source_text contains "jhyeff" %}
      {% assign source_label = "JHE" %}
      {% assign source_name = "Journal of Hydrologic Engineering" %}
      {% assign source_class = "jhe" %}
      {% assign source_logo = "/assets/img/news-logos/ascelibrary.ico" | relative_url %}
    {% elsif source_text contains "journal of environmental engineering" %}
      {% assign source_label = "JEE" %}
      {% assign source_name = "Journal of Environmental Engineering" %}
      {% assign source_class = "asce" %}
      {% assign source_logo = "/assets/img/news-logos/ascelibrary.ico" | relative_url %}
    {% elsif source_text contains "journal of water resources planning and management" %}
      {% assign source_label = "JWRPM" %}
      {% assign source_name = "Journal of Water Resources Planning and Management" %}
      {% assign source_class = "asce" %}
      {% assign source_logo = "/assets/img/news-logos/ascelibrary.ico" | relative_url %}
    {% elsif source_text contains "journal of hydroinformatics" %}
      {% assign source_label = "JH" %}
      {% assign source_name = "Journal of Hydroinformatics" %}
      {% assign source_class = "hydroinformatics" %}
      {% assign source_logo = "/assets/img/news-logos/iwa-publishing.svg" | relative_url %}
    {% elsif source_text contains "journal of hydrology" or source_text contains "jhydrol" %}
      {% assign source_label = "JHyd" %}
      {% assign source_name = "Journal of Hydrology" %}
      {% assign source_class = "jhyd" %}
      {% assign source_logo = "/assets/img/news-logos/journal-of-hydrology.gif" | relative_url %}
    {% elsif source_text contains "environmental modelling" or source_text contains "envsoft" %}
      {% assign source_label = "EMS" %}
      {% assign source_name = "Environmental Modelling & Software" %}
      {% assign source_class = "ems" %}
      {% assign source_logo = "/assets/img/news-logos/envsoft.png" | relative_url %}
    {% elsif source_text contains "brazilian journal of water resources" or source_text contains "2318-0331" %}
      {% assign source_label = "RBRH" %}
      {% assign source_name = "Brazilian Journal of Water Resources" %}
      {% assign source_class = "rbrh" %}
      {% assign source_logo = "/assets/img/news-logos/rbrh.png" | relative_url %}
    {% elsif source_text contains "natural hazards" %}
      {% assign source_label = "NH" %}
      {% assign source_name = "Natural Hazards" %}
      {% assign source_class = "nh" %}
      {% assign source_logo = "/assets/img/news-logos/natural-hazards.webp" | relative_url %}
    {% elsif source_text contains "international journal of disaster risk reduction" or source_text contains "ijdrr" %}
      {% assign source_label = "IJDRR" %}
      {% assign source_name = "International Journal of Disaster Risk Reduction" %}
      {% assign source_class = "ijdrr" %}
      {% assign source_logo = "/assets/img/news-logos/ijdrr.gif" | relative_url %}
    {% elsif source_text contains "hydrological sciences journal" %}
      {% assign source_label = "HSJ" %}
      {% assign source_name = "Hydrological Sciences Journal" %}
      {% assign source_class = "hsj" %}
      {% assign source_logo = "/assets/img/news-logos/hydrological-sciences-journal.jpg" | relative_url %}
    {% elsif source_text contains "journal of environmental management" or source_text contains "jenvman" %}
      {% assign source_label = "JEM" %}
      {% assign source_name = "Journal of Environmental Management" %}
      {% assign source_class = "jem" %}
      {% assign source_logo = "/assets/img/news-logos/jem.gif" | relative_url %}
    {% elsif source_text contains "revista dae" %}
      {% assign source_label = "DAE" %}
      {% assign source_name = "Revista DAE" %}
      {% assign source_class = "dae" %}
      {% assign source_logo = "/assets/img/news-logos/revista-dae.png" | relative_url %}
    {% elsif source_text contains "urban water journal" %}
      {% assign source_label = "UWJ" %}
      {% assign source_name = "Urban Water Journal" %}
      {% assign source_class = "uwj" %}
      {% assign source_logo = "/assets/img/news-logos/urban-water-journal.jpg" | relative_url %}
    {% elsif source_text contains "critical reviews in environmental science and technology" %}
      {% assign source_label = "CREST" %}
      {% assign source_name = "Critical Reviews in Environmental Science and Technology" %}
      {% assign source_class = "crest" %}
      {% assign source_logo = "/assets/img/news-logos/critical-reviews-est.jpg" | relative_url %}
    {% elsif source_text contains "sustainability" %}
      {% assign source_label = "Sust" %}
      {% assign source_name = "Sustainability" %}
      {% assign source_class = "sustainability" %}
      {% assign source_logo = "/assets/img/news-logos/sustainability-mdpi.png" | relative_url %}
    {% elsif source_text contains "the 2nd international symposium on water system operations" or source_text contains "2nd international symposium on water system operations" %}
      {% assign source_label = "C" %}
      {% assign source_name = "2nd International Symposium on Water System Operations" %}
      {% assign source_class = "conference-generic" %}
      {% assign source_logo = "" %}
    {% elsif source_text contains "ieee" or source_text contains "conference on control technology and applications" or source_text contains "ccta" %}
      {% assign source_label = "IEEE" %}
      {% assign source_name = "IEEE CCTA" %}
      {% assign source_class = "ieee" %}
      {% assign source_logo = "/assets/img/news-logos/ieee.svg" | relative_url %}
    {% elsif source_text contains "international low impact development conference" %}
      {% assign source_label = "ASCE" %}
      {% assign source_name = "International Low Impact Development Conference" %}
      {% assign source_class = "asce" %}
      {% assign source_logo = "/assets/img/news-logos/asce.png" | relative_url %}
    {% elsif source_text contains "mdpi" or source_text contains "published in *water*" or source_text contains "10.3390/w" %}
      {% assign source_label = "Water" %}
      {% assign source_name = "Water" %}
      {% assign source_class = "water" %}
      {% assign source_logo = "/assets/img/news-logos/water-mdpi.png" | relative_url %}
    {% elsif source_text contains "stanford" %}
      {% assign source_label = "S" %}
      {% assign source_name = "Stanford University" %}
      {% assign source_class = "stanford" %}
      {% assign source_logo = "/assets/img/news-logos/stanford.png" | relative_url %}
    {% elsif source_text contains "university of arizona" or source_text contains "landscape evolution observatory" or source_text contains "leo" %}
      {% assign source_label = "UA" %}
      {% if source_text contains "landscape evolution observatory" or source_text contains "leo" %}
        {% assign source_name = "University of Arizona / LEO" %}
      {% else %}
        {% assign source_name = "University of Arizona" %}
      {% endif %}
      {% assign source_class = "uarizona" %}
      {% assign source_logo = "/assets/img/news-logos/arizona.png" | relative_url %}
    {% elsif source_text contains "university of texas at san antonio" or source_text contains "utsa" %}
      {% assign source_label = "UTSA" %}
      {% assign source_name = "University of Texas at San Antonio" %}
      {% assign source_class = "utsa" %}
      {% assign source_logo = "/assets/img/news-logos/utsa.png" | relative_url %}
    {% elsif source_text contains "university of sao paulo" or source_text contains "usp" or source_text contains "sao carlos" %}
      {% assign source_label = "USP" %}
      {% assign source_name = "University of Sao Paulo" %}
      {% assign source_class = "usp" %}
      {% assign source_logo = "/assets/img/news-logos/usp.png" | relative_url %}
    {% elsif source_text contains "vanderbilt" %}
      {% assign source_label = "VU" %}
      {% assign source_name = "Vanderbilt University" %}
      {% assign source_class = "vanderbilt" %}
      {% assign source_logo = "/assets/img/news-logos/vanderbilt.png" | relative_url %}
    {% elsif source_text contains "american geophysical union" or source_text contains "agu" %}
      {% assign source_label = "AGU" %}
      {% assign source_name = "American Geophysical Union" %}
      {% assign source_class = "agu" %}
      {% assign source_logo = "/assets/img/news-logos/agu.svg" | relative_url %}
    {% elsif source_text contains "computational methods on water resources" or source_text contains "cmwr" %}
      {% assign source_label = "CMWR" %}
      {% assign source_name = "Computational Methods in Water Resources" %}
      {% assign source_class = "cmwr" %}
      {% assign source_logo = "/assets/img/news-logos/cmwr.png" | relative_url %}
    {% elsif source_text contains "world environmental and water resources congress" or source_text contains "ewri" or source_text contains "asce" %}
      {% assign source_label = "ASCE" %}
      {% assign source_name = "ASCE / EWRI" %}
      {% assign source_class = "asce" %}
      {% assign source_logo = "/assets/img/news-logos/asce.png" | relative_url %}
    {% elsif source_text contains "brazilian symposium" or source_text contains "abrh" or source_text contains "enau" %}
      {% assign source_label = "ABRH" %}
      {% assign source_name = "ABRHidro" %}
      {% assign source_class = "abrh" %}
      {% assign source_logo = "/assets/img/news-logos/abrhidro.png" | relative_url %}
    {% elsif source_text contains "unesco" %}
      {% assign source_label = "UNESCO" %}
      {% assign source_name = "UNESCO" %}
      {% assign source_class = "unesco" %}
      {% assign source_logo = "/assets/img/news-logos/unesco.ico" | relative_url %}
    {% endif %}

    {% if type_class == "conference" %}
      {% if source_text contains "american geophysical union" or source_text contains "agu" %}
        {% assign source_label = "AGU" %}
        {% assign source_name = "American Geophysical Union" %}
        {% assign source_class = "agu" %}
        {% assign source_logo = "/assets/img/news-logos/agu.svg" | relative_url %}
      {% elsif source_text contains "computational methods on water resources" or source_text contains "cmwr" %}
        {% assign source_label = "CMWR" %}
        {% assign source_name = "Computational Methods in Water Resources" %}
        {% assign source_class = "cmwr" %}
        {% assign source_logo = "/assets/img/news-logos/cmwr.png" | relative_url %}
      {% elsif source_text contains "world environmental and water resources congress" or source_text contains "ewri" or source_text contains "asce" %}
        {% assign source_label = "ASCE" %}
        {% assign source_name = "ASCE / EWRI" %}
        {% assign source_class = "asce" %}
        {% assign source_logo = "/assets/img/news-logos/asce.png" | relative_url %}
      {% elsif source_text contains "international low impact development conference" %}
        {% assign source_label = "ASCE" %}
        {% assign source_name = "International Low Impact Development Conference" %}
        {% assign source_class = "asce" %}
        {% assign source_logo = "/assets/img/news-logos/asce.png" | relative_url %}
      {% elsif source_text contains "national meeting on urban waters" or source_text contains "revitalization of urban rivers" %}
        {% assign source_label = "ABRH" %}
        {% assign source_name = "ABRHidro" %}
        {% assign source_class = "abrh" %}
        {% assign source_logo = "/assets/img/news-logos/abrhidro.png" | relative_url %}
      {% elsif source_text contains "brazilian symposium" or source_text contains "abrh" or source_text contains "enau" %}
        {% assign source_label = "ABRH" %}
        {% assign source_name = "ABRHidro" %}
        {% assign source_class = "abrh" %}
        {% assign source_logo = "/assets/img/news-logos/abrhidro.png" | relative_url %}
      {% elsif source_text contains "unesco" %}
        {% assign source_label = "UNESCO" %}
        {% assign source_name = "UNESCO" %}
        {% assign source_class = "unesco" %}
        {% assign source_logo = "/assets/img/news-logos/unesco.ico" | relative_url %}
      {% elsif source_text contains "the 2nd international symposium on water system operations" or source_text contains "2nd international symposium on water system operations" %}
        {% assign source_label = "C" %}
        {% assign source_name = "2nd International Symposium on Water System Operations" %}
        {% assign source_class = "conference-generic" %}
        {% assign source_logo = "" %}
      {% elsif source_text contains "ieee" or source_text contains "conference on control technology and applications" or source_text contains "ccta" %}
        {% assign source_label = "IEEE" %}
        {% assign source_name = "IEEE CCTA" %}
        {% assign source_class = "ieee" %}
        {% assign source_logo = "/assets/img/news-logos/ieee.svg" | relative_url %}
      {% endif %}
    {% elsif type_class == "talk" or type_class == "course" or type_class == "position" %}
      {% if source_text contains "stanford" %}
        {% assign source_label = "S" %}
        {% assign source_name = "Stanford University" %}
        {% assign source_class = "stanford" %}
        {% assign source_logo = "/assets/img/news-logos/stanford.png" | relative_url %}
      {% elsif source_text contains "university of arizona" or source_text contains "landscape evolution observatory" or source_text contains "leo" %}
        {% assign source_label = "UA" %}
        {% if source_text contains "landscape evolution observatory" or source_text contains "leo" %}
          {% assign source_name = "University of Arizona / LEO" %}
        {% else %}
          {% assign source_name = "University of Arizona" %}
        {% endif %}
        {% assign source_class = "uarizona" %}
        {% assign source_logo = "/assets/img/news-logos/arizona.png" | relative_url %}
      {% elsif source_text contains "university of texas at san antonio" or source_text contains "utsa" %}
        {% assign source_label = "UTSA" %}
        {% assign source_name = "University of Texas at San Antonio" %}
        {% assign source_class = "utsa" %}
        {% assign source_logo = "/assets/img/news-logos/utsa.png" | relative_url %}
      {% elsif source_text contains "university of sao paulo" or source_text contains "usp" or source_text contains "sao carlos" %}
        {% assign source_label = "USP" %}
        {% assign source_name = "University of Sao Paulo" %}
        {% assign source_class = "usp" %}
        {% assign source_logo = "/assets/img/news-logos/usp.png" | relative_url %}
      {% elsif source_text contains "vanderbilt" %}
        {% assign source_label = "VU" %}
        {% assign source_name = "Vanderbilt University" %}
        {% assign source_class = "vanderbilt" %}
        {% assign source_logo = "/assets/img/news-logos/vanderbilt.png" | relative_url %}
      {% elsif source_text contains "american geophysical union" or source_text contains "agu" %}
        {% assign source_label = "AGU" %}
        {% assign source_name = "American Geophysical Union" %}
        {% assign source_class = "agu" %}
        {% assign source_logo = "/assets/img/news-logos/agu.svg" | relative_url %}
      {% elsif source_text contains "computational methods on water resources" or source_text contains "cmwr" %}
        {% assign source_label = "CMWR" %}
        {% assign source_name = "Computational Methods in Water Resources" %}
        {% assign source_class = "cmwr" %}
        {% assign source_logo = "/assets/img/news-logos/cmwr.png" | relative_url %}
      {% elsif source_text contains "world environmental and water resources congress" or source_text contains "ewri" or source_text contains "asce" %}
        {% assign source_label = "ASCE" %}
        {% assign source_name = "ASCE / EWRI" %}
        {% assign source_class = "asce" %}
        {% assign source_logo = "/assets/img/news-logos/asce.png" | relative_url %}
      {% elsif source_text contains "national meeting on urban waters" or source_text contains "revitalization of urban rivers" %}
        {% assign source_label = "ABRH" %}
        {% assign source_name = "ABRHidro" %}
        {% assign source_class = "abrh" %}
        {% assign source_logo = "/assets/img/news-logos/abrhidro.png" | relative_url %}
      {% elsif source_text contains "brazilian symposium" or source_text contains "abrh" or source_text contains "enau" %}
        {% assign source_label = "ABRH" %}
        {% assign source_name = "ABRHidro" %}
        {% assign source_class = "abrh" %}
        {% assign source_logo = "/assets/img/news-logos/abrhidro.png" | relative_url %}
      {% elsif source_text contains "unesco" %}
        {% assign source_label = "UNESCO" %}
        {% assign source_name = "UNESCO" %}
        {% assign source_class = "unesco" %}
        {% assign source_logo = "/assets/img/news-logos/unesco.ico" | relative_url %}
      {% elsif source_text contains "the 2nd international symposium on water system operations" or source_text contains "2nd international symposium on water system operations" %}
        {% assign source_label = "C" %}
        {% assign source_name = "2nd International Symposium on Water System Operations" %}
        {% assign source_class = "conference-generic" %}
        {% assign source_logo = "" %}
      {% endif %}
    {% elsif type_class == "paper" %}
      {% if source_text contains "journal of irrigation and drainage engineering" or source_text contains "jidedh" %}
        {% assign source_label = "JIDE" %}
        {% assign source_name = "Journal of Irrigation and Drainage Engineering" %}
        {% assign source_class = "asce" %}
        {% assign source_logo = "/assets/img/news-logos/ascelibrary.ico" | relative_url %}
      {% endif %}
    {% endif %}

    <article class="news-item news-item--{{ type_class }} news-source--{{ source_class }}{% if item_hidden %} is-hidden{% endif %}">
      <div class="news-date">
        <span class="news-icon" aria-hidden="true"></span>
        <span class="news-month-day">{{ item.date | date: "%b %d" }}</span>
      </div>
      <div class="news-body">
        <div class="news-head">
          <div class="news-head__text">
            {% if item.type %}
              <span class="news-type news-type--{{ type_class }}">{{ display_type }}</span>
            {% endif %}
            <span class="news-source-name">{{ source_name }}</span>
          </div>
        </div>
        <div class="news-content">
          <div class="news-source-visual" aria-hidden="true">
            {% if source_logo != "" %}
              <img class="news-source-logo-large" src="{{ source_logo }}" alt="" loading="lazy" decoding="async">
            {% else %}
              <span class="news-source-fallback">{{ source_label }}</span>
            {% endif %}
          </div>
          <div class="news-content__text">
            <div class="news-copy">
              {{ item.content | markdownify }}
            </div>
            {% if item.link %}
              <a class="news-link" href="{{ item.link }}">{{ item.link_label | default: default_news_link_label }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </article>

    {% assign rendered_count = rendered_count | plus: 1 %}
  {% endfor %}

  {% if initial_count and news_items.size > initial_count %}
    <div class="news-actions">
      <button class="news-load-more" type="button" data-reveal-count="{{ reveal_count }}">{{ read_more_news_label }}</button>
    </div>
  {% endif %}
</div>

{% if initial_count and news_items.size > initial_count %}
  <script>
    document.addEventListener("click", function(event) {
      var button = event.target.closest(".news-load-more");
      if (!button) return;

      var timeline = button.closest(".news-timeline");
      var revealCount = parseInt(button.getAttribute("data-reveal-count"), 10) || 18;
      var hiddenItems = Array.prototype.slice.call(timeline.querySelectorAll(".news-item.is-hidden"));
      var itemsToShow = hiddenItems.slice(0, revealCount);

      itemsToShow.forEach(function(item) {
        var previous = item.previousElementSibling;
        while (previous && previous.classList.contains("news-year") && previous.classList.contains("is-hidden")) {
          previous.classList.remove("is-hidden");
          previous = previous.previousElementSibling;
        }
        item.classList.remove("is-hidden");
      });

      if (!timeline.querySelector(".news-item.is-hidden")) {
        button.remove();
      }
    });
  </script>
{% endif %}
